@import '../../../../libs/ui/src/globals.css';
@source "../../src/**/*.{ts,tsx,js,jsx}";
@source "../../../../libs/ui/src/**/*.{ts,tsx,js,jsx}";

:root {
    --color-primary: #2563eb; 
    --color-secondary: #1e40af; 
    --color-white: #ffffff; 
    --color-dark: #111827;
    --color-accent: #3b82f6;
    --color-green: #10b981;
    --color-red: #ef4444;
    --color-disabled: #9ca3af;
    --color-blue-border: #3b82f6;
    --color-bg: #f3f4f6;
    --color-grey: #6b7280;
    --color-grey-border: #d1d5db;
}